body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgb(35, 35, 35);   
}

.container {
  max-width: 1110px;
  margin: auto;
  padding: 0 20px;
}

.header {
  margin: 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header_nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
  font-size: 32px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item_link {
  text-decoration: none;
  color: #00b599;
  font-weight: bold;
}

.top_logo {
  max-width: 360px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content_text {
  flex-basis: 60%;
}

.header_title {
  font-size: 72px;
  color: rgb(255, 133, 4);
  text-align: center;
}
hr {
  display: block; 
  margin: 0 auto;
  border: 2px solid #00b599;
  border-bottom-width: 0;
  width: 450px;
}
.content {
background: linear-gradient(to top, rgb(255, 255, 255), rgb(195, 250, 250), rgb(255, 255, 255));
  margin: 0;
}

.content-top {
  padding-top: 10px;
  padding-bottom: 30px;
}

.content-text_title {
  text-align: center;
  font-size: 54px;
  color: #007765;
}

.content-img {
  background: url(img/bg2.png);
  border-radius: 150px;
  /* box-shadow: 0 0 20px 10px #008eb5; */
  box-shadow: 3px 3px 5px 3px #484848;
  background-position: center;
  max-height: 400px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 80px;
}

.content-img_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.content-img_text {
  font-style: italic;
  font-size: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0 120px;
}

.content-text {
  font-size: 32px;
  text-align: justify;
}

.about {
  margin: 0;
}

.about_img {
  display: block;
  float: left;
  height: 350px;
  width: 312px;
  margin-right: 40px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.team_title {
  padding-top: 10px;
}

.team-block {
  flex-basis: 30%;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.team-img {  
  display: block;
  margin: auto;
  border-radius: 5px;
  height: 268px;
}

.team-block_content {
  justify-content: space-between;
  align-items: center;
}

.team-name {
  font-size: 24px;
}

.footer {
  background-color: #333333;
  color: aliceblue;
  text-align: center;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
}

.copy_text {
  max-width: 540px;
  font-size: 16px;
}
/* div {border: 1px solid red;}  */
@media (max-width: 1200px) {}

@media (max-width: 990px) {
  .container {
    max-width: 100%;
  }

  .header-content {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .top {
    flex-direction: column;
    min-height: 100px;
  }
  .header_title {
    font-size: 42px;  
    margin-bottom: 50px;
  }
.nav-item {
  font-size: 20px;
}
  .header-content {
    text-align: center;
  }

  .top_logo {
    max-width: 60%;    
  margin-bottom: 10px;
  }
 hr {
width: 250px;
} 
  .content-text_title  {
    font-size: 35px;
  }
  .content-text {
    font-size: 24px;
  }
  .content-img {
    max-width: 80%;  
    max-height: 380px;   
  border-radius: 50px;
  }
  .content-img_text {    
  font-size: 36px;
  padding: 0 10px;
  }
  .about_img {
    float: none;
    margin:auto;
  }
}
