body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: rgb(35, 35, 35);
}

.container {
  max-width: 1110px;
  margin: auto;
}

.header-top *:focus,
.header-top *::before,
.header-top *::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: content-box; /*это свойство обязательно*/
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
  font-size: 32px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item_link {
  display: block;
  text-decoration: none;
  color: rgb(255, 133, 4);
  font-weight: bold;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content_img {
  max-width: 360px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.header-content_text {
  flex-basis: 60%;
}

.header_title {
  font-size: 72px;
  color: rgb(255, 133, 4);
  text-align: center;
}

.content-bg {
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgb(255, 255, 255)),
    color-stop(rgb(195, 250, 250)),
    color-stop(rgb(195, 250, 250)),
    to(rgb(255, 255, 255))
  );
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgb(195, 250, 250),
    rgb(195, 250, 250),
    rgb(255, 255, 255)
  );
  margin: 0;
}

hr {
  display: block;
  margin: 0 auto;
  border: 2px solid rgb(255, 133, 4);
  border-bottom-width: 0;
  width: 450px;
}

.content-text_title {
  text-align: center;
  font-size: 54px;
  color: #007765;
}

.content-text {
  font-size: 32px;
  text-align: justify;
}

.content-img {
  background: url(img/bg2.png);
  border-radius: 150px;
  -webkit-box-shadow: 3px 3px 5px 3px #484848;
          box-shadow: 3px 3px 5px 3px #484848;
  background-position: center;
  max-height: 400px;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-img_text {
  font-style: italic;
  font-size: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0 120px;
}

.about_img {
  display: block;
  float: left;
  width: 280px;
  margin-right: 40px;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.photo-block {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.photo-img {
  display: block;
  margin: auto;
  border-radius: 5px;
  max-height: 268px;
}

.photo-name {
  font-size: 24px;
}

.footer {
  background-color: #333333;
  color: aliceblue;
  text-align: center;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
}

.copy_text {
  max-width: 700px;
  font-size: 16px;
}

/* div {
  border: 1px solid red;
}
img {
  border: 1px solid blue;
} */

@media (max-width: 990px) {
  .container {
    max-width: 90%;
  }

  .header-content {
    flex-direction: column;
  }

  hr {
    width: 350px;
  }
}
@media (max-width: 768px) {    
  .header-top {
    min-height: 100px;
  }

  .header-top::after {
    background-position: -24px -24px;
    z-index: 1;
  }

  .nav-item {
    width: 80%;
    text-align: center;
    font-size: 20px;
  }

  .nav {
    display: none;
    padding-top: 10px;
  }

  .nav-menu::before,
  .header-top::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 25px;
    display: block;
    background-image: url(img/togger.png);
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-color: rgb(255, 133, 4);
    border: 9px solid rgb(255, 133, 4);
  }

  .nav-menu::before {
    z-index: 2;
  }

  .nav-menu:focus::before {
    z-index: 0;
  }

  .nav-menu:focus .nav,
  .nav:hover {
    /*решаем проблему со скликиванием*/
    display: block;
  }

  .header-content {
    text-align: center;
  }

  .header-content_img {
    max-width: 60%;
    margin-bottom: 10px;
  }

  .header_title {
    font-size: 42px;
    margin-bottom: 50px;
  }
  hr {
    width: 250px;
  }

  .content-text_title {
    font-size: 35px;
  }

  .content-text {
    font-size: 24px;
  }

  .content-img {
    max-width: 80%;
    max-height: 380px;
    border-radius: 50px;
  }

  .content-img_text {
    font-size: 36px;
    padding: 0 10px;
  }

  .about_img {
    float: none;
    margin: auto;
  }

  .copy_text {
    max-width: 400px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {  
  .header_title {
    font-size: 24px;
  }
  .content-img_text {
    font-size: 20px;
    padding: 0 10px;
  }
  hr {
    width: 150px;
  }
}