html {
  font-size: 16px;
<<<<<<< HEAD
  }
=======
}
>>>>>>> 4f490d198b3c827a9dcdbedf8dd7d38a9c8a7716

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgb(35, 35, 35);   
}

.container {
  max-width: 1110px;
  margin: auto;
  padding: 0 20px;
}

.header {
  margin: 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header_nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
  font-size: 32px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item_link {
  text-decoration: none;
  color: #00b599;
  font-weight: bold;
}

.top_logo {
  max-width: 360px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content_text {
  flex-basis: 50%;
}

.header_title {
  font-size: 72px;
  color: rgb(255, 133, 4);
  text-align: right;
}

.content {
  background-color: rgb(225, 255, 255);
  margin: 0;
}

.content-top {
  padding-top: 10px;
  padding-bottom: 30px;
}

.content-text_title {
  text-align: center;
  font-size: 54px;
  color: #007765;
}

.content-img {
  background-image: url(img/bg2.png);
  background-position: center;
  height: 483px;
  margin: 0;
}

.content-img_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 483px;
}

.content-img_text {
  font-style: italic;
  font-size: 48px;
  text-align: center;
  color: aliceblue;
  padding: 0 110px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team_title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-block {
  flex-basis: 30%;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.team-img {  
  display: block;
  margin: auto;
  border-radius: 5px;
  width: 168px;
}

.team-block_content {
  display: flex-inline;
  justify-content: space-between;
  align-items: center;
}

.team-name {
  font-size: 24px;
}

.team-text {
  font-size: 18px;
}

.about {
  margin: 0;
}

.about_img {
  display: block;
  float: left;
  height: 350px;
  width: 312px;
  margin-right: 40px;
}

.content-text {
  font-size: 32px;
  text-align: justify;
}

.footer {
  background-color: #333333;
  color: aliceblue;
  text-align: center;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
}

.copy_text {
  max-width: 540px;
  font-size: 16px;
}
/* div {border: 1px solid red;} */
@media (max-width: 1200px) {}

@media (max-width: 990px) {
  .container {
    max-width: 760px;
  }

  .header-content {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .top {
    flex-direction: column;
    min-height: 100px;
  }
  .header_title {
    font-size: 42px;  
    margin-bottom: 50px;
  }
.nav-item {
  font-size: 20px;
}
  .header-content {
    text-align: center;
  }

  .top_logo {
    max-width: 60%;    
  margin-bottom: 10px;
  }

  .content-text_title  {
    font-size: 35px;
  }
  .content-text {
    font-size: 24px;
  }
  .content-img_text {
    padding: 0 10px;
  }
  .about_img {
    float: none;
    margin:auto;
  }
}
